body {
    font-family: Product sans;
    font-size: 100;

    display: flex;
    justify-content: center;
}


.G, .g {
    color: #4285F4;
}

.o1, .e {
    color: #DB4437;
}

.l {
    color: #0F9D58;
}

.o2 {
    color: #F4B400;
}
